@model IEnumerable<Esercizio_Settiminale_S7_Vescio_Pia_Francesca.Models.User>

@{
    ViewData["Title"] = "AllUsers";
}

<h1>All Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <ul class="list-unstyled">
                    @foreach (var role in item.Roles) {
                        <li>@role.Name</li>
                    }
                </ul>
            </td>
            <td>
                <a class="btn btn-warning"  asp-action="DetailUser" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
