@model IEnumerable<Esercizio_Settiminale_S7_Vescio_Pia_Francesca.Models.Ingredient>

@{
    ViewData["Title"] = "AllIngredients";
}

<h1>All Ingredients</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Ingredient">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-controller="Ingredient" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-action="DetailIngredient" asp-controller="Ingredient" asp-route-id="@item.Id">Details</a> |
               <a class="btn btn-danger" asp-action="Delete" asp-controller="Ingredient" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
